@model DaycareProject.ViewModels.AddStudentViewModel

<h3>Add Student</h3>

<form asp-controller="Student" asp-action="Add" method="post">

    <div class="form-group">
        <label asp-for="StudentFirstName"></label>
        <input class="form-control" asp-for="StudentFirstName" />
        <span asp-validation-for="StudentFirstName"></span>
    </div>

    <div class="form-group">
        <label asp-for="StudentLastName"></label>
        <input class="form-control" asp-for="StudentLastName" />
        <span asp-validation-for="StudentLastName"></span>
    </div>

    <div class="form-group">
        <label asp-for="ClassroomID"></label>
        <select asp-for="ClassroomID" asp-items="Model.Classrooms"></select>
    </div>

    <input type="submit" value="Add Student" />

</form>