@model List<DaycareProject.Models.Student>

<h1>@ViewBag.Title</h1>

@foreach (var student in Model)
{
    <ul>
        <li>
        <a asp-controller="Student"
           asp-action="GetDailyForm"
           asp-route-id="@student.ID">
           @student.StudentLastName, @student.StudentFirstName</a>
        </li>
    </ul>

}

<p><a asp-controller="Student" asp-action="Add">Add Student</a></p>

@if (Model.Count == 0)
{
    <p>No students yet!</p>

}