@model DaycareProject.ViewModels.ClassListViewModel

<h1>@Model.Classroom.ClassroomName</h1>
<a href="~/ViewModels/AddClassroomViewModel.cs">~/ViewModels/AddClassroomViewModel.cs</a>
<ul>
    @foreach (var student in Model.Students)
    {
    <li>
        <a asp-controller="Student"
           asp-action="GetDailyForm"
           asp-route-id="@student.ID">@student.StudentLastName,@student.StudentFirstName</a>
    </li>
    }
</ul>
